@import url(http://fonts.googleapis.com/css?family=Raleway:900);
h1 {
  font-family: 'Raleway';
  color: #2c3e50 !important;
}
.board {
  border-radius: 10px;
  margin: 10px 0;
}
h4 {
  text-align: center;
  font-family: 'Raleway';
  color: #2c3e50;
}
h6 {
  text-align: center;
  font-family: 'Raleway';
  color: #2c3e50;
}
.center {
  margin: 0 auto;
}
.clear {
  clear: both;
}
button {
  margin: 0 20px 10px 0;
}
.box {
  width: 100px;
  height: 100px;
  line-height: 90px;
  text-align: center;
  border: 5px solid #007295;
  border-radius: 10px;
  margin: 7px;
  color: #f1c40f;
  background-color: #008cba;
  display: inline-block;
  font-family: 'Raleway';
}
.showing {
  background-color: #f1c40f;
  font-family: 'Raleway';
  color: #008cba;
}
.panel > :first-child {
  margin: 7px;
}
[class*="column"] + [class*="column"]:last-child {
  float: left !important;
}
