doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class="no-js", lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Memory
    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/foundation.css")
    link(rel="stylesheet", href="/css/app.css")
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns.small-centered
        .panel
          h1 Memory
    .row
      .small-12.columns.small-centered
        button.small.radius.left#play Play
        button.small.radius.left#reset Reset

    .row
      .small-4.columns.board
        h4 Letters:
          h6#letters _ _ _ _ _ _ _ _ _ _
      .small-4.columns.board
        h4 Score:
          h6#score 0
      .small-4.columns.board
        h4 Trys:
          h6#trys 0

    .row
      .small-8.columns.small-centered
        .panel#grid
          .center
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
            .box
          .clear

    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/source/main.js')
    script
      $(document).foundation();
